<router-outlet></router-outlet>
<div class="sidebar">
  <nav>
    <div class="list">
      <ul style="font-size: 15px;">
        <li>
          <a routerLink="/admin/dashboard/make_request">
            <span class="fas fa-file-circle-plus" style="font-size: 22px;"></span>
            <span class="name"> &nbsp;Make Request</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/dashboard/approve_request">
            <span class="fas fa-file-circle-check" style="font-size: 22px;"></span>
            <span class="name"> &nbsp;Approve Request</span>
          </a>
        </li>

      </ul>
    </div>
  </nav>
</div>
